.top {
  position: relative;
  margin-top: 1%;
  font-size: 15px;
}

.gmail a {
  text-decoration: none;
  color: black;
}

.gmail a:hover {
  text-decoration: underline; color: black;
}

.gmail {
  margin-left: 80%;
}

.googleimage a {
  text-decoration: none;
  color: black;
}

.googleimage a:hover {
  text-decoration: underline; color: black;
}

.googleimage {
  margin-left: 85%;
}

.googleimg {
  position: absolute;
  margin-left: 42%;
  margin-top: 12%;
}

.recherches {
  height: 100%;
  margin-top: 17%;
  margin-left: 35%;
  position: absolute;
  width: 200px;
  
}







.googleimg img {
  width:200px;
  height:50px;
}
